<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="../../synthkit.js"></script>
<script src="ui.js"></script>
</head>
<body>

<button id="start">start</button>
<div id="disp"></div>

<div id="app" v-if="modules">
{{wave1}}, bal:{{balance}},freq:{{freq}},lfo:{{lfo}}
<br/>
<syn-variable v-model="balance" :range="[-5, 5]"></syn-variable>
<syn-variable v-model="detune" :range="[0, 1]"></syn-variable>
<syn-variable v-model="freq" type="log" :range="[20, 20000]"></syn-variable>
<syn-variable v-model="lfo" type="log" :range="[0.02, 200]"></syn-variable>
<syn-variable v-model="lfoMod" :range="[0, 4]"></syn-variable>
<syn-variable v-model="lfoAmp" :range="[0, 4]"></syn-variable>

<div>
  <syn-wave-selector v-model="wave1"></syn-wave-selector>
  <syn-wave-selector v-model="wave2"></syn-wave-selector>
  <syn-wave-selector v-model="lfoWave"></syn-wave-selector>
</div>


</div>

<script>

var vm = new Vue({
  el : '#app',
  data : {
    modules : null,
    mixer : null,
    wave1 : 'sine',
    wave2 : '',
    lfoWave : '',
    freq : 440,
    lfo : 0.5,
    lfoMod : 0,
    lfoAmp : 0,
    balance : 0,
    detune : 0
  },
  methods : {
    output : function() {
      return this.mixer? this.mixer() : 0;
    }
  },
  watch : {
    outputs : function() {}
  },
  computed : {
    outputs : function() {

      if (!this.modules) {
        return;
      }

      var lfo1 = function() { return 0; };
      var lfo2 = function() { return 0; };
      if (this.modules[this.lfoWave]) {
        lfo1 = this.modules[this.lfoWave]({
          freq : function() { return this.lfo; }.bind(this) });
        lfo2 = this.modules[this.lfoWave]({
          freq : function() { return this.lfo; }.bind(this) });
      }

      var inputs = [
          this.modules[this.wave1],
          this.modules[this.wave2]
        ]
        .map(function(wave, i) {
          if (wave) {
            var w = wave({ freq :
              function() {
                return this.freq * Math.exp(lfo1() * this.lfoMod + i * this.detune);
              }.bind(this) });
            return function() {
              var amp = Math.exp(lfo2() * this.lfoAmp);
              return amp * w() * Math.exp(i == 0?
                (this.balance > 0? -this.balance : 0):
                (this.balance < 0? this.balance : 0) );
            }.bind(this);
          }
          return null;
        }.bind(this) )
        .filter(function(v) { return !!v; });

      this.mixer = this.modules.mixer({ inputs : inputs });
    }
  }
});

var init = function(sampleRate) {
  var modules = synthkit.modules({ sampleRate : sampleRate });

  //-------------------------------------------------------

  var notes = [];
  !function() {
    for (var i = 0; i <= 60; i += 1) {
      notes.push(55 * Math.exp(Math.log(2) * i / 12) );
    }
  }();

  var egHH = modules.eg({
    input : modules.filter({
      input : modules.noise(),
      type : 'bpf',
      cutoff : 6000
    })
  });

  var egBD = modules.eg({
    input : modules.sine({ freq : 80 }),
    attack : 1E3,
    decay : 1E1
  });

  var egSD = modules.eg({
    input : modules.filter({
      input : modules.mixer({
        inputs : [
          modules.noise(),
          modules.sine({ freq : 230 })
        ]
      }),
      cutoff : 1500
    }),
    decay : 6E0
  });

  var notesBa = [ 10, 6, 8, 13 ];
  var noteBa = 0;

  var egBa = modules.eg({
    input : modules.filter({
      input : modules.mixer({
        inputs : [
          modules.square({ freq : function() { return notes[noteBa] * 1.005; } }),
          modules.square({ freq : function() { return notes[noteBa]; } })
        ]
      }),
      cutoff : 21500
    }),
    attack : 1e3,
    decay : 1e1
  });

  var notesLd = [ 10, 6, 8, 13, 6, 8, 13, 10 ];
  var noteLd = 0;

  var egLd = modules.eg({
    input : modules.filter({
      input : modules.mixer({
        inputs : [
          modules.saw({ freq : function() { return 4*notes[noteLd] * 1.005; } }),
          modules.saw({ freq : function() { return 4*notes[noteLd]; } })
        ]
      }),
      cutoff : 21500
    }),
    attack : 1e1,
    decay : 1e0
  });

  var disp = { ticks : 0 };

  var beat = 16;

  var patHH = '11-0'.replace(/\s+/g, '');
  var padBD = '100-'.replace(/\s+/g, '');
  var padSD = '0000100- 0000100- 00001000 0-00100-'.replace(/\s+/g, '');
  var patBa = '01111101 01110101'.replace(/\s+/g, '');
  var patLd = '10010010 01001001'.replace(/\s+/g, '');

  var seq1 = modules.seq({ tempo : 132, beat : beat });
  seq1.trigger = function(ticks) {

    disp.ticks = ticks;
    noteBa = notesBa[Math.floor(ticks / patBa.length) % notesBa.length];
    noteLd = notesLd[Math.floor(ticks / patLd.length / 4) % notesLd.length];
    var nHH = patHH.charAt(ticks % patHH.length);
    var nBD = padBD.charAt(ticks % padBD.length);
    var nSD = padSD.charAt(ticks % padSD.length);
    var nBa = patBa.charAt(ticks % patBa.length);
    var nLd = patLd.charAt(ticks % patLd.length);

    if (nBa != '0') {
      egBa.on(nBa == '1'? 0 : -1);
    }

    if (nLd != '0') {
      egLd.on(nLd == '1'? 0 : -1);
    }

    if (nHH != '0') {
      if (nHH == '1') {
        egHH.decay = function() { return 5E1; }; // close
      } else {
        egHH.decay = function() { return 1E1; }; // open
      }
      egHH.on();
    }

    if (nBD != '0') {
      egBD.on(nBD == '1'? 0 : -1);
    }

    if (nSD != '0') {
      egSD.sync();
      egSD.on(nSD == '1'? 0 : -0.5);
    }
  };

  var enterFrame = function(time) {
    var s = '';
    for (var i = 0; i < beat; i += 1) {
      s += (i == disp.ticks % beat)? '-' : '_';
    }
    document.getElementById('disp').textContent = s;
    window.requestAnimationFrame(enterFrame);
  };
  window.requestAnimationFrame(enterFrame);

  return modules.mixer({
    inputs : [
      
      modules.vol({ input : egHH, gain : -2, pan : -1 }),
      modules.vol({ input : egBD, gain : 0 }),
      modules.vol({ input : egSD, gain : -0.5 }),
      modules.vol({ input : egBa, gain : -1, pan : 1 }),
//      modules.vol({ input : egLd, gain : -2, pan : -0.5 }),

  //    modules.sine({ freq : function() { return vm.log; } }),
      seq1
    ],
    mono : false
  });

};

var player = null;
var src = null;

var startButton = document.getElementById('start');

startButton.addEventListener('mousedown', function() {
  if (player == null) {
    player = synthkit.player();
    src = init(player.audioContext.sampleRate);
    vm.modules = synthkit.modules({
      sampleRate : player.audioContext.sampleRate });
  }
  if (!player.playing) {
//    player.start(src);
    player.start(vm.output);
    startButton.textContent = 'stop';
  } else {
    player.stop();
    startButton.textContent = 'start';
  }
});

</script>
</body>
</html>
